html, body {
  height: 100%;
  padding: 0px;
  margin: 0px;
}

#wrapper {
  width: 960px;
  margin: 0px auto;
  background: white;
}

#content {
  width: 960px;
  padding: 5px;
}

#header {
  padding: 5px;
  color: #33f;
}

#header h1 {
  margin: 0px;
}

#footer {
  padding: 5px;
  color: #33f;
}

#main {
  background: white;
}

.field label {
  display: block;
}

.field input[type=text] {
  width: 300px;
}

.field textarea {
  width: 100%;
  height: 200px;
}

a.button {
  border: 1px solid #777;
  color: #222;
  background: #CCC;
  background: -webkit-linear-gradient(top, #EEE, #AAA);
  border-radius: 3px;
  text-decoration: none;
  display: inline-block;
  padding: 4px 12px;
}

a.button:hover {
  color: #224;
  background: #CCE;
  background: -webkit-linear-gradient(top, #EEF, #AAC);
}

#form_errors:empty {
  border: none;
  background: transparent;
  padding: 0px;
}

#form_errors {
  border: 3px solid red;
  padding: 10px;
  border-radius: 5px;
  background: #FDD;
}

#form_errors h2 {
  margin: 0px;
  padding: 0px;
  font-size: 18pt;
  color: red;
}