h1 Roadmap

p Rocket is still in very early development, and there's lot that needs to be done.

ul
  li Deferred processing in Ruby or Javascript would be a great feature, especially since we already use Redis for tracking message queues. Job queues would require almost no additional work. Allowing JS via V8 could provide a nice option for high performance.
  li More callbacks. We need to provide a JS callback for after the user first establishes a connection, after the user reconnects, and a few other things. We also need more callbacks on the Ruby side.
  li Rocket is currently just some files you have to drop into a directory. It works, but a gem and some generators would be much more convenient.
  li Better documentation!
  li Filters for controllers.
  li Better way for users to include JS and CSS files without having to modify the main HTML file.
  li A CSS substitute like SASS or Stylus.
  li File watchers that recompile files on change when in development mode.
  li Create or params hash client side.
  li Namespace the Redis stuff according to the app name, otherwise multiple app instances will step on one another.